.hero-block {
  height: 100%;
  background: url('../img/hero-bg.png') no-repeat 50% / cover;

  &__content {
    color: white;
    .box-content {
      padding-top: 76px;
      background: rgba(#2d2828, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
    }
    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 89px;
      @media (min-width: 768px) {
        font-size: 64px;
      }
    }
    .subtitle {
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
    .description {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 149.8%;
      margin-bottom: 50px;
      @media (min-width: 1280px) {
        width: 43%;
        font-size: 18px;
        margin-bottom: 100px;
      }
    }
    .social {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & > * + * {
        margin-left: 70px;
      }
      height: 100px;
      &__logo {
        width: 90px;
        transform: translateY(40%);
        img {
          width: 100%;
          height: 100%;
          transition: all 0.5s ease;
        }
        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ease;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.342);
      }
    }
  }
}

.header {
  padding: 51px 0 70px;
  .navigation {
    .menu {
      display: flex;
      align-items: center;
      & > * + * {
        margin-top: 30px;
        @media (min-width: 991px) {
          margin-top: 0;
          margin-left: 30px;
        }
      }
      &__link {
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
      }
    }
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
    text-decoration: none;
  }

  nav.stroke ul li a {
    position: relative;
  }

  nav.stroke ul li a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: #ff1640;
    height: 3px;
  }

  nav.stroke ul li a:hover:after {
    width: 100%;
  }
}
